.sort-header{
    display: flex;
    justify-content: space-between;

    i {
        cursor: pointer;
        padding: 0 2px;
    }
}

.add-new-user{
    // display: flex;
    justify-content: space-between;
    align-items: center;

    .group-btn{
        display: flex;
        gap: 10px
    }

    i {
        padding: 0 2px;
    }
  }

  .customize-table {
    width: inherit;
    overflow-x: auto;
  }

  .pagination {
    justify-content: center;
  }